.appvide {
    position: relative; /* Agregamos posición relativa para el contenedor */
    display: inline-block; /* Alinear elementos horizontalmente */
    text-align: center; /* Centrar el contenido dentro del contenedor */
  }
  
  .appcanvas {
    position: absolute;
    top:0px;
    left: 0px;
  }
  
  .myapp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrar verticalmente el contenido */
  }
  